[Unit]
Description=Xfire Fabrication Analyzer App
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/local/codedeployresources/xfire-fabrication-process-analyzer/xfire_fabrication_dashboard.py
[Install]
WantedBy=multi-user.target