[Unit]
Description=Xfire Fabrication Analyzer App
After=multi-user.target
[Service]
Type=simple
Restart=always
WorkingDirectory=/usr/local/codedeployresources/
ExecStart=/usr/bin/python3 ./xfire-fabrication-process-analyzer/xfire_fabrication_dashboard.py
[Install]
WantedBy=multi-user.target